body {
    margin: 0;
    padding: 0;
}

.topheader {
    background-color: #F29765;
    width: 100vw;
    height: 40px;
}

.header {
    background-color: #C46103;
    width: 100vw;
    height: 130px;
}

.logo {
    background-color: #F29765;
    width: 260px;
    height: 40px;
}

.search {
    background-color: #F29765;
    width: 200px;
    height: 20px;
}

.signin {
    background-color: #F29765;
    width: 15px;
    height: 10px;
}

.bottomheader {
    background-color: #B74737;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 30px;
    grid-gap: 40px;
    margin: auto;
    padding: 20px;
}

.heading {
    background-color: #F29765;
}

.sideheading {
    background-color: #F29765;
}

.coverphoto {
    background-color: #F29765;
    width: 100vw;
    height: 65vh;
}

.optionbar {
    background-color: #008790;
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-gap: 20px;
    margin: auto;
    padding: 20px;
}

.option {
    background-color: #9CCACA;
}

.events {
    background-color: #B74737;
    width: 100vw;
}

.news {
    background-color: #C46103;
    width: 100vw;
}

.middlebar {
    background-color: #F29765;
    width: 100vw;
    height: 70px;
}

.information {
    background-color: #008790;
    width: 300px;
    height: 30px;
    margin: auto;
}

.section {
    background-color: #9CCACA;
    height: 13vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    grid-gap: 20px;
    margin: auto;
    padding: 20px;
}

.rectangle {
    background-color: #79595D;
}

.middle {
    background-color: #008790;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
    margin: auto;
    padding: 20px;
}

.info {
    background-color: #9CCACA;
}

.state {
    background-color: #9CCACA;
}

.campus {
    background-color: #79595D;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 250px 10px;
    grid-gap: 20px;
    margin: auto;
    padding: 20px;
}

.title {
    height: 30px;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #9CCACA; 
    margin-bottom: 10px;
}

.image {
    background-color: #9CCACA;
}

.caption {
    background-color: #9CCACA;
}

.capture {
    background-color: #F29765; 
    height: 40vh;
}

.footer {
    background-color: #B74737; 
}

.toprow {
    display: grid;
    grid-template-columns:70px 20px 1fr;
    grid-template-rows: 50px;
    width: 70vw;
    grid-gap: 70px;
    margin: auto;
    padding: 20px;
}

.saftey {
    background-color: #C46103;
}

.calander {
    background-color: #C46103;
    height: 20px;
}

.contact {
    background-color: #C46103;
}

.bottomrow {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 50px;
    width: 70vw;
    grid-gap: 80px;
    margin: auto;
    padding: 20px;
}

.location {
    background-color: #C46103;
}

.socialmedia {
    background-color: #C46103;
}