body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8D8E8C;
    width: 100vw;
    padding-bottom: 2px;
}

.home {
    background-color: #39313A;
    width: 100vw;
    height: 20px;
}

.line_one {
    display: grid;
    grid-template-columns: 90px 1fr 150px;
    grid-template-rows: 40px;
    grid-gap: 200px;
    margin: auto;
    margin-top: 20px;
    width: 70vw;
}
.logo{
    background-color: #39313A;
}

.searchbar {
    background-color: #39313A;
}

.signin {
    background-color: #39313A;   
}

.line_two {
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-template-rows: 20px;
    grid-gap: 250px;
    margin: auto;
    margin-top: 20px;
    width: 70vw;
}

.options{
    background-color: #39313A;
}

.socialmedia {
    background-color: #39313A;
}

.ad {
    background-color: #39313A;
    width: 600px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-color: #E33F53;
    width: 100vw;
}

