body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8D8E8C;
    width: 100vw;
    position: relative;
}

.home {
    background-color: #39313A;
    width: 100vw;
    height: 20px;
}

.line_one {
    display: grid;
    grid-template-columns: 90px 600px 150px;
    grid-template-rows: 40px;
    grid-gap: 20px 100px;
    background-color: azure;
}
.logo{
    background-color: #39313A;
}

.searchbar {
    background-color: #39313A;
}

.signin {
    background-color: #39313A;   
}

.line_two {
    display: grid;
}

.options{
    background-color: #39313A;
    width: 750px;
    height: 20px;
}

.socialmedia {
    background-color: #39313A;
    width: 170px;
    height: 20px;
}

.ad {
    background-color: #39313A;
    width: 600px;
    height: 200px;
}

.background {
    background-color: #E33F53;
    width: 100vw;
}

