body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8D8E8C;
    width: 100vw;
    padding-bottom: 2px;
}

.home {
    background-color: #39313A;
    width: 100vw;
    height: 20px;
}

.line_one {
    display: grid;
    grid-template-columns: 90px 1fr 150px;
    grid-template-rows: 40px;
    grid-gap: 200px;
    margin: auto;
    margin-top: 20px;
    width: 70vw;
}
.logo{
    background-color: #39313A;
}

.searchbar {
    background-color: #39313A;
}

.signin {
    background-color: #39313A;   
}

.line_two {
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-template-rows: 20px;
    grid-gap: 250px;
    margin: auto;
    margin-top: 20px;
    width: 70vw;
}

.options{
    background-color: #39313A;
}

.socialmedia {
    background-color: #39313A;
}

.ad {
    background-color: #39313A;
    width: 900px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-color: #E33F53;
    width: 100vw;
}

.watchlive {
    margin-top: 20px;
    width: 70vw;
    height: 40px;
    background-color: #98CCCC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.maincolumn {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    width: 70vw;  
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 1fr;
    grid-row-gap: 20px;
    margin-left: 250px;
    margin-right: auto;
    width: 50vw;
}

.featured {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-gap: 10px;
    width: 50vw;
}

.storycover {
    background-color: #98CCCC;
}

.storyoption {
    background-color: #98CCCC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.story {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 170px;
    grid-gap: 20px;
    width: 50vw;
}

.image {
    background-color: #F08D4F; 
    margin-bottom: 20px;
}

.text {
    background-color: #F08D4F;
    margin-bottom: 20px;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 800px 600px 500px;
    grid-gap: 20px;
    width: 15vw;
    margin-right: 15vw;
    margin-left: auto;
}

.topsidebar {
    display: grid;
    grid-template-rows: 300px 250px 100px;
    grid-template-columns: 1fr;
    width: 15vw;
    margin-right: 15vw;
    margin-left: auto;
    grid-gap: 20px;
}

.question {
    background-color: #39313A;
}

.video {
    background-color: #39313A;
}

.weather {
    background-color: #39313A;
}

.trending {
    width: 15vw;
}

.title {
    background-color: #81365B;
    width: 40px;
    height: 20px;
    margin-bottom: 10px;
}

.trendinggrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.photo {
    background-color: #81365B;
}

.caption {
    background-color: #81365B;
}

.bottomsidebar {
    display: grid;
    grid-template-rows: 250px 250px 90px;
    grid-template-columns: 1fr;
    width: 15vw;
    margin-right: 15vw;
    margin-left: auto;
    grid-gap: 20px;
}

.menu {
    background-color: #39313A
}